<div class="modal" id="modal" style="padding: 10px;">
    <div class="modal-body">
        <h6>Exclusão de registros</h6>
        <p>Deseja prosseguir com a exclusão de <text class="nome"></text></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-small red darken-4 btnExcluir">Sim</button>
        <button type="button" class="btn-small blue darken-4 modal-close">Não</button>
    </div>
</div>